.inspection-report {
  border: 1px solid #000;
  padding: 2px;
}

.title {
  font-size: 1.3em;
  font-weight: 600;
}

.subtitle-1 {
  font-size: 1em;
}

.subtitle-1 {
  text-transform: uppercase;
}

.body-1 {
  font-size: 0.8em;
}

.body-2 {
  font-size: 0.7em;
}

.caption {
  font-size: 0.6em;
  color: grey;
}

.to {
  font-weight: 500;
}

.subtitle-2,
.pgo-it-file {
  font-weight: 600;
  font-size: 0.8em;
  text-transform: uppercase;
}

.republic {
  font-family: cursive;
  line-height: 0.8;
}

.province {
  font-size: 1.2em;
  font-weight: bold;
}

.address {
  font-size: x-small;
  font-weight: bold;
}

.signed-by {
  text-transform: uppercase;
  font-weight: 600;
  padding-left: 0;
  line-height: 2;
  margin-bottom: 1.3rem;
}

.font-size-small,
.signed-by {
  font-size: small;
}

.font-size-x-small {
  font-size: x-small;
}

.red--text {
  color: red;
}

.name {
  font-weight: bold;
  font-size: 0.8em;
  padding-right: 0;
  text-transform: uppercase;
  border-bottom: 1px solid #000;
}

.position,
.date {
  text-align: center;
  font-size: x-small;
}

.checkbox {
  border: 1px solid #000;
  border-radius: 4px;
  width: 2.3rem;
  height: 1rem;
  margin-top: 3px;
  margin-right: 4px;
}

.checkbox-label {
  font-size: x-small;
}

.checkbox-label-smaller {
  font-size: xx-small;
}

.bg-grey {
  background-color: #eee;
}

table.table-bordered > thead > tr > th {
  border: 1px solid #000;
  font-size: 0.7em;
  text-align: center;
  padding: 0;
}

table.table-bordered > tbody > tr > td {
  border: 1px solid #000;
  font-size: small;
  padding: 0;
}

@media (min-width: 769px) {
  .container {
    width: 50%;
  }
}
