.pagination {
  clear: both;
  padding: 0;

  li {
    display: inline;
  }

  a {
    border: 1px solid #d5d5d5;
    color: #666666;
    font-size: 11px;
    font-weight: bold;
    height: 25px;
    padding: 4px 8px;
    text-decoration: none;
    margin: 2px;

    &:hover,
    &:active {
      background: #efefef;
    }
  }

  span.current {
    background-color: #687282;
    border: 1px solid #d5d5d5;
    color: #ffffff;
    font-size: 11px;
    font-weight: bold;
    height: 25px;
    padding: 4px 8px;
    text-decoration: none;
    margin: 2px;
  }

  span.disabled {
    border: 1px solid #eeeeee;
    color: #dddddd;
    margin: 2px;
    padding: 2px 5px;
  }
}
