.pagination {
  clear: both;
  padding: 0;

  li {
    display: inline;
  }

  a {
    @extend .page-link;
    color: #666666;
    font-size: 11px;
    font-weight: bold;
    padding: 4px 8px;
    text-decoration: none;
    margin: 2px;

    &:hover,
    &:active {
      background: #efefef;
    }
  }

  a,
  span {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16),
      0 2px 10px 0 rgba(0, 0, 0, 0.12);
  }

  span.current {
    background-color: #4285f4;
    // border: 1px solid #d5d5d5;
    color: #ffffff;
    font-size: 11px;
    font-weight: bold;
    padding: 4px 8px;
    text-decoration: none;
    margin: 2px;
  }

  span.disabled {
    border: 1px solid #eeeeee;
    color: #dddddd;
    margin: 2px;
    padding: 2px 5px;
  }
}
